@import "tailwindcss";


body {
    font-family: 'Merriweather', serif; 
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif; 
}

h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
}



/* current bg gradient ="bg-gradient-to-r from-cyan-600 to-purple-400" */